## Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value. 

Note: Values can be of different types.

Lists are declared by just equating a variable to '[ ]' or list.

In [1]:
a = []

In [2]:
print (type(a))

<class 'list'>

One can directly assign the sequence of data to a list x as shown.

In [30]:
x = ['apple', 'orange', 2, True]
x

['apple', 'orange', 2, True]

In [5]:
len(x)

4

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index, orange at 1 index, etc.

In [10]:
x[0]

'apple'

Indexing can also be done in reverse order (from right to left). That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be True and index -2 will be 2.

In [11]:
x[-1]

True

In [13]:
x[:3]

['apple', 'orange', 2]

As you might have already guessed, x[0] = x[-4], x[1] = x[-3], etc.

In [31]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [15]:
x

['apple', 'orange', 2, True]

In [16]:
y

['carrot', 'potato']

In [18]:
z  = [x,y]
print (z)
len(z)

[['apple', 'orange', 2, True], ['carrot', 'potato']]

2

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [19]:
z1 = z[0]
print (z1)

['apple', 'orange', 2, True]

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [20]:
z1[0]

'apple'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [25]:
z

[['apple', 'orange', 2, True], ['carrot', 'potato']]

In [27]:
z[0][0], z[0][0][3]

('apple', 'l')

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

We can also join several lists into one list

In [32]:
print(x)
print(y)

['apple', 'orange', 2, True]
['carrot', 'potato']

In [33]:
x.extend(y)
print(x)

['apple', 'orange', 2, True, 'carrot', 'potato']

### Slicing

In [34]:
num = [0,1,2,3,4,5,6,7,8,9]

In [35]:
print (num[0:4])
print (num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [37]:
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
num[:9:3]

[0, 3, 6]

In [38]:
num[::2]

[0, 2, 4, 6, 8]

### Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [39]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [40]:
min(num)

0

In [41]:
max(num)

9

In [43]:
z = ['a','1','2']
min(z)

'1'

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [44]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [45]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' is present in the list names.

In [46]:
'Fire' in names

True

In [47]:
'Fire' not in names

False

A string can be converted into a list by using the **list()** function.

In [48]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** is used to add a element at the end of the list.

In [55]:
lst = [1,1,4,8,7]

In [50]:
lst.append(1)
print (lst)

[1, 1, 4, 8, 7, 1]

In [56]:
lst.append([1,2,3])
print (lst)

[1, 1, 4, 8, 7, [1, 2, 3]]

In [52]:
lst = [1,1,4,8,7]
lst.extend([1,2,3])
print (lst)

[1, 1, 4, 8, 7, 1, 2, 3]

**count( )** is used to count the number of a particular element that is present in the list.

In [57]:
lst

[1, 1, 4, 8, 7, [1, 2, 3]]

In [58]:
lst.count(1)

2

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [59]:
lst

[1, 1, 4, 8, 7, [1, 2, 3]]

In [60]:
lst.index(1)

0

In [61]:
?lst.index

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [62]:
lst

[1, 1, 4, 8, 7, [1, 2, 3]]

In [63]:
lst.insert(5, 'name')
print (lst)

[1, 1, 4, 8, 7, 'name', [1, 2, 3]]

**pop( )** function returns and deletes the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [64]:
lst.pop()

[1, 2, 3]

In [65]:
lst

[1, 1, 4, 8, 7, 'name']

In [67]:
?lst.pop

Index value can be specified to pop a ceratin element corresponding to that index value.

In [68]:
lst

[1, 1, 4, 8, 7, 'name']

In [69]:
lst.pop(3)

8

In [70]:
lst

[1, 1, 4, 7, 'name']

The entire elements present in the list can be reversed by using the **reverse()** function.

In [71]:
lst.reverse()
print (lst)

['name', 7, 4, 1, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [74]:
lst = [1, 5, 223, 67, 1]

In [75]:
lst.sort()
print (lst)

[1, 1, 5, 67, 223]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [76]:
lst

[1, 1, 5, 67, 223]

In [77]:
lst.sort(reverse=True)
print (lst)

[223, 67, 5, 1, 1]

In [78]:
sorted(lst) #not in-place

[1, 1, 5, 67, 223]

Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [80]:
names

['Water', 'Fire', 'Earth', 'Air']

In [79]:
names.sort()
print (names)
names.sort(reverse=True)
print (names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

In [81]:
new_names = ['Air', 'earth', 'fire', 'Water']
new_names.sort()
print (new_names)
new_names.sort(reverse=False)
print (new_names)

['Air', 'Water', 'earth', 'fire']
['Air', 'Water', 'earth', 'fire']

To sort based on length key=len should be specified as shown.

In [82]:
names.sort(key=len)
print (names)
names.sort(key=len,reverse=True)
print (names)

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### Copying a list

Most of the new python programmers commit this mistake. Consider the following,

In [83]:
lista= [2,1,4,3]

In [84]:
listb = lista
print (listb)

[2, 1, 4, 3]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [85]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [86]:
print (listb)

[2, 1, 4, 9]

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [87]:
lista = [2,1,4,3]

In [88]:
listb = lista[:]
print (listb)

[2, 1, 4, 3]

In [89]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [90]:
print (listb)

[2, 1, 4, 3]

You can also use the built-in function copy() to achieve the same result.

In [91]:
lista = [2,1,4,3]

In [92]:
listb = lista.copy()
print (listb)

[2, 1, 4, 3]

In [93]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [94]:
print (listb)

[2, 1, 4, 3]

In [95]:
lista = [[2,1,4,3],[2,3]]

In [96]:
listb = lista.copy()
print (listb)

[[2, 1, 4, 3], [2, 3]]

In [97]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[[2, 1, 4, 3]]
[[2, 1, 4, 3], 9]

In [98]:
print (listb)

[[2, 1, 4, 3], [2, 3]]

## Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. (tuples are **immutable**)

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [99]:
tup = ()
tup2 = tuple()

In [100]:
type(tup), type(tup2)

(tuple, tuple)

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [101]:
27,

(27,)

In [102]:
t1 = 1, 
t2 = 1, 2
t3 = 1, 2, 3

print(t1)
print(t2)
print(t3)

print(type(t1))
print(type(t2))
print(type(t3))

(1,)
(1, 2)
(1, 2, 3)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [107]:
x = (1,)
print(type(x))
x = (1)
print(type(x))

<class 'tuple'>
<class 'int'>

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [109]:
4*(27,)

(27, 27, 27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [110]:
tup3 = tuple([1,2,3])
print (tup3)
tup4 = tuple('Hello')
print (tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [111]:
print (tup3[1])
tup5 = tup4[:3]
print (tup5)

2
('H', 'e', 'l')

### Mapping one tuple to another

In [115]:
a,b,c= ('alpha','beta','gamma')

In [116]:
print (a,b,c)

alpha beta gamma

In [117]:
a

'alpha'

In [119]:
d = tuple('RajathKumarMP')
print (d)

('R', 'a', 'j', 'a', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'M', 'P')

In [118]:
a,b,c= ('alpha','beta')

ValueError: not enough values to unpack (expected 3, got 2)

### Lists occupy more memory, partly because of extra functionality

In [120]:
print(dir(list()))
print("")
print(dir(tuple()))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### How much memory do lists and tuples occupy?

In [121]:
#This can be significant when working with big datasets
import sys

list_test = [1, 2, 3, "a", "b", "John"]
tuple_test = (1, 2, 3, "a", "b", "John")

print("List size: ", sys.getsizeof(list_test))
print("Tuple size: ", sys.getsizeof(tuple_test))

List size:  120
Tuple size:  104

In [ ]:
help(sys.getsizeof)

### Creation time list vs tuple

In [122]:
#Creating 1000000 lists and tuples
import timeit

list_test = timeit.timeit(stmt="[1,2,3,4,5]", number = 1000000)
tuple_test = timeit.timeit(stmt="(1,2,3,4,5)", number = 1000000)

print("List time: ", list_test)
print("Tuple time: ", tuple_test)

List time:  0.09979980299999625
Tuple time:  0.00951314500002809

### Built In Tuple functions

**count()** function counts the number of specified element that is present in the tuple.

In [123]:
d.count('a')

3

**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [126]:
d

('R', 'a', 'j', 'a', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'M', 'P')

In [127]:
d.index('m')

8

In [129]:
#Unlike lists and sets, tuples cannot be modified.
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# Following action is not valid for tuples, not iterable
#tup1[0] = 100

# So let's create a new tuple as follows
tup3 = (100,) + tup1[1:]
tup4 = tup1+tup2
print(tup3)
print(tup4)

(100, 34.56)
(12, 34.56, 'abc', 'xyz')

## Sets

There are no duplicate elements allowed in sets. Sets are mainly used to eliminate repeated numbers in a sequence/list. Are also used to perform some standard set operations.

Sets are declared as set() which will initialize an empty set. Also set([sequence]) can be executed to declare a set with elements

Unlike lists, the order of elements doesn't matter => We cannot access individual values in a set.

In [130]:
set1 = set()
print (type(set1))

<class 'set'>

In [132]:
s = {1, 2, 3}
type(s)

set

In [133]:
set0 = set([1,2,2,3,3,4])
print (set0)

{1, 2, 3, 4}

In [134]:
set0[1]

TypeError: 'set' object is not subscriptable

elements 2,3 which are repeated twice are seen only once. Thus **in a set each element is distinct**.

In [137]:
x=y=1
id(x),id(y)

(4377142416, 4377142416)

In [138]:
x = 2
print(x,y)

2 1

In [139]:
id(x),id(y)

(4377142448, 4377142416)

In [136]:
set1 = {1,3,3,3,3,5}
set2 = {1,3,5}
print('set1: ',set1)
print('set2: ',set2)
print(set1 == set2)
print(id(set1), id(set2))

set1:  {1, 3, 5}
set2:  {1, 3, 5}
True
4418317920 4418316960

### Built-in Functions

In [140]:
set1 = set([1,2,3])

In [141]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [142]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [143]:
set1

{1, 2, 3}

In [158]:
set1.add(0)
set1

{0, 1, 2, 3, 'cat', 'dog', 'horse', 'pig'}

In [145]:
set1.update({'pig', 'cat'})
set1

{0, 1, 2, 3, 'cat', 'pig'}

In [146]:
set1.update(['dog', 'horse'])
set1

{0, 1, 2, 3, 'cat', 'dog', 'horse', 'pig'}

### Remove an element from the set

In [159]:
ex = {False, 'dog', 'horse', 'pig', 42, 'cat', 'Hi'}

In [160]:
print('ex= ',ex)
ex.remove(42)
ex

ex=  {False, 'dog', 42, 'Hi', 'horse', 'cat', 'pig'}

{False, 'Hi', 'cat', 'dog', 'horse', 'pig'}

In [161]:
print('ex= ',ex)
ex.remove(42)

ex=  {False, 'dog', 'Hi', 'horse', 'cat', 'pig'}

KeyError: 42

In [162]:
print('ex= ',ex)
ex.discard('Hi')
ex

ex=  {False, 'dog', 'Hi', 'horse', 'cat', 'pig'}

{False, 'cat', 'dog', 'horse', 'pig'}

In [163]:
#does nothing if element is not a member of the set
print('ex= ',ex)
ex.discard('Hi')
ex

ex=  {False, 'dog', 'horse', 'cat', 'pig'}

{False, 'cat', 'dog', 'horse', 'pig'}

### Creating set from existing data

In [164]:
ex2 = set([1, 3, 5, 7, 11, 13, 'John'])
ex2

{1, 11, 13, 3, 5, 7, 'John'}

In [165]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

### Union and intersection of 2 sets

In [168]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

In [169]:
print('odds: ', odds)
print('evens: ', evens)
odds.union(evens)

odds:  {1, 3, 5, 7, 9}
evens:  {2, 4, 6, 8, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
odds

In [170]:
print('odds: ', odds)
print('primes: ', primes)
odds.intersection(primes), primes.intersection(odds)

odds:  {1, 3, 5, 7, 9}
primes:  {2, 3, 5, 7}

({3, 5, 7}, {3, 5, 7})

In [171]:
print('primes: ', primes)
print('evens: ', evens)
primes.intersection(evens)

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2}

In [ ]:
print('evens: ', evens)
print('odds: ', odds)
evens.intersection(odds)

In [172]:
#in primes but not in odds
print('primes: ', primes)
print('odds: ', odds)
primes.difference(odds)  #primes-odds

primes:  {2, 3, 5, 7}
odds:  {1, 3, 5, 7, 9}

{2}

In [ ]:
print('primes: ', primes)
print('odds: ', odds)
odds.difference(primes)

In [ ]:
?odds.difference

In [ ]:
odds = set([1, 3, 5, 7, 4])
print('primes: ', primes)
print('odds: ', odds)
print('evens: ', evens)
odds.difference(primes, evens)  #odds - primes & evens

### Binary operations

In [ ]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

### AND

In [173]:
print('primes: ', primes)
print('evens: ', evens)
primes & evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2}

### OR

In [174]:
print('primes: ', primes)
print('evens: ', evens)
primes | evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2, 3, 4, 5, 6, 7, 8, 10}

In [175]:
print('evens: ', evens)
print('primes: ', primes)
evens - primes

evens:  {2, 4, 6, 8, 10}
primes:  {2, 3, 5, 7}

{4, 6, 8, 10}

In [ ]:
print('primes: ', primes)
print('evens: ', evens)
primes - evens

### Check if element is in a set

In [176]:
print('odds: ', odds)
2 in odds

odds:  {1, 3, 5, 7, 9}

False

In [177]:
print('evens: ', evens)
2 in evens

evens:  {2, 4, 6, 8, 10}

True

In [178]:
print('odds: ', odds)
2 not in odds

odds:  {1, 3, 5, 7, 9}

True

## Dictionaries

Dictionaries consist of **keys** and **values** associated with the keys.

Any hashable object can be a key in a dictionary. In Python, any immutable object (such as an integer, boolean, string, tuple) is hashable, meaning its value does not change during its lifetime.

In programming, the hash method is used to return integer values that are used to compare dictionary keys using a dictionary look up feature.

In [179]:
my_dict = {}
type(my_dict)

dict

In [180]:
my_dict = {'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [181]:
x = {1:'value1',4:'value2'}
x

{1: 'value1', 4: 'value2'}

In [182]:
x = {1:[1,2,3],4:'value2'}
x

{1: [1, 2, 3], 4: 'value2'}

Call values of dictionaries by their keys

In [183]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [184]:
my_dict['key3']

['item0', 'item1', 'item2']

In [185]:
my_dict['key3'][0]

'item0'

In [186]:
my_dict['key3'][0].upper()

'ITEM0'

Change the value under a certain key.

In [187]:
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [188]:
my_dict['key1'] = 100

In [189]:
my_dict

{'key1': 100, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

Add a value to a dictionary

In [190]:
my_dict['new_key'] = [1,2,3]

In [191]:
my_dict

{'key1': 100,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'new_key': [1, 2, 3]}

Basic dictionary methods

In [192]:
d = {'key1':1,'key2':2,'key3':3}
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [193]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [194]:
list(d.keys())

['key1', 'key2', 'key3']

In [195]:
d.values()

dict_values([1, 2, 3])

In [196]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

#  Control Flow Statements

## If

if some_condition:
    
    algorithm

### Indentation is important

In [198]:
x = 12
if x >10:
        print( "true")
    print("a")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [200]:
x = 12
if x >10:
    print( "true")
    print("a")

true
a

In [202]:
x = 1
if x >10:
    print( "true")
    print("a")

### If-else

if some_condition:
    
    algorithm
    
else:
    
    algorithm

In [203]:
x = 12
if x > 10:
    print ("true")
else:
    print ("false")

true

### If-elif 

if some_condition:
    
    algorithm

elif some_condition:
    
    algorithm

else:
    
    algorithm

In [204]:
x = 10
y = 12
if x > y:
    print ("x>y")
elif x < y:
    print ("x<y")
else:
    print ("x=y")

x<y

## if if ... if VS if elif elif ... elif

In [205]:
#independent conditions
name = "Ani" 
age = 19
if name == "Ani":
    print("The name is Ani")
    
if age > 18:
    print("> 18")

The name is Ani
> 18

In [ ]:
#dependent conditions
name = "Ani" 
age = 19
if name == "Ani":
    print("The name is Ani")
elif age > 18:
    print("> 18")

In [207]:
#Let's use boolean operations and, or, not


#Both of the conditions have to be True
course = "Python Intro"
registered = False #Try changing to True

if course == "Python Intro" and registered == True:  #OR we can just write registered instead of registered == True
    print("Welcome to the class!")
else:
    print("Please register for the course!")

Please register for the course!

In [208]:
#Only 1 of the conditions has to be True
course = "Python Intro"
registered = False #Try changing to True

if course == "Python Intro" or registered == True:  #OR we can just right registered instead of registered == True
    print("Welcome to the class!")
else:
    print("Please register for the course!")

Welcome to the class!

In [209]:
registered = False #Try changing to True

if registered == False:
    print("Please register for the course!")

Please register for the course!

In [211]:
registered = False #Try changing to True

if not registered:  #same as registered == False
    print("Please register for the course!")

Please register for the course!

In [210]:
registered = False #Try changing to True

if registered:  #same as registered == True
    print("Please register for the course!")

In [212]:
if "":
    print(1)

## False values in Python:
    
### False
### None
### Zero of any numeric type
### Any empty sequence. E.g. '', (), []
### Any empty mapping. E.g. {}

In [215]:
condition = ''  # Try changing this value to False, 0, 0.0, '', (), [], {}; now try changing to, say 10
#condition = [1,2]

if condition:
    print("Evaluated to True")
else:
    print("Evaluated to False")

Evaluated to False

## Loops

### For

In [216]:
range(5)

range(0, 5)

In [217]:
list(range(5))

[0, 1, 2, 3, 4]

In [218]:
for i in range(5):
    print (i)

0
1
2
3
4

In [223]:
list1 = [1,2,3,4,5]
for i in range(len(list1)):
    print (i)
    list1[i] +=1

0
1
2
3
4

In [224]:
list1

[2, 3, 4, 5, 6]

In [219]:
my_list = [1,2,3,50]
for i in my_list:
    print(i)

1
2
3
50

In [225]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
    print (list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### While

In [226]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

### Break

It is used to break out of a loop when a condition becomes true when.

In [230]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [233]:
type(range(1000000))

range

In [227]:
for i in range(100):
    print (i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

### Continue


This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [237]:
for i in range(10):
    if i>4:
        print ("The end.")
        continue

    print('100')

100
100
100
100
100
The end.
The end.
The end.
The end.
The end.

## Pass

In [240]:
if True:
    pass

def func1():
    pass

## List Comprehensions

In [241]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x)
print (res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [242]:
[27*x for x in range(1,11)]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [244]:
l1 = [1, 2, 3, 4, 5]
[x-1 for x in l1]

[0, 1, 2, 3, 4]

We can also have nested loops and if statements in list comprehentions

In [245]:
[27*x for x in range(1,20) if x<=10]

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

In [246]:
[27*x if x<=10 else x for x in range(50)]

[0,
 27,
 54,
 81,
 108,
 135,
 162,
 189,
 216,
 243,
 270,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [247]:
matrix = [[j for j in range(5)] for i in range(5)] 
  
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]