In [2]:
ls = ['apple', 'banana', 10, 22.5]
ls5 = ['a', 'b', [1,2,3], ('a', 'b')]
ls

['apple', 'banana', 10, 22.5]

In [2]:
type(ls)

list

In [3]:
ls.append(10)
ls

['apple', 'banana', 10, 22.5, 10]

In [4]:
tup = tuple(ls)
tup2 = (1,2,3,4,5)
tup = (1,) #(1) = integer
tup

('apple', 'banana', 10, 22.5, 10)

In [5]:
tup[0] = 1
tup

TypeError: 'tuple' object does not support item assignment

In [6]:
ls[0] = 1
ls

[1, 'banana', 10, 22.5, 10]

In [16]:
len(ls) # 0 1 2 3 = 4 elements | -4 -3 -2 -1

4

In [14]:
ls[0] == ls[-4]

True

In [9]:
ls[:-2]

[1, 'banana', 10]

In [17]:
ls.remove(10)
ls

[1, 'banana', 22.5]

In [11]:
a = "apple"
b = "banana"
c = a + " " + b
c

'apple banana'

In [12]:
ls1 = [1,2,3,4,5]
ls2 = ['a', 'b', 'c', 'd']
ls1 + ls2

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']

In [ ]:
# list, find the length the list, find elements between second element and 3rd from the end
# use append, use remove

In [18]:
d = {'key1':'value1'} #keys are immutable => number, string, tuple; alues can be of any type

In [19]:
type(d)

dict

In [20]:
#ls[0] = 1
d['key2'] = 'value2'
d

{'key1': 'value1', 'key2': 'value2'}

In [21]:
d['key2']

'value2'

In [22]:
d['key1'] = 'new_value1'
d

{'key1': 'new_value1', 'key2': 'value2'}

In [23]:
len(d)

2

In [24]:
d.keys()

dict_keys(['key1', 'key2'])

In [25]:
d.values()

dict_values(['new_value1', 'value2'])

In [26]:
d.items()

dict_items([('key1', 'new_value1'), ('key2', 'value2')])

In [28]:
d.pop('key1')

'new_value1'

In [29]:
d

{'key2': 'value2'}

In [ ]:
#create dictionary, add element to dictionary, change element's value